.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  background: url('https://api.tourney.fun/images/table.jpg');
  background-position: center center;
  background-attachment: fixed;
  background-size: auto auto;
}

.mainContainer {
  padding-top:88px;
  color: #eee;
  padding-bottom: 100px;
}


.seemorebutton {
  margin-top: 20px;
  margin-bottom:20px;
}

.atourney {
  margin-top:40px;
  margin-left:10px;
  margin-right: 10px;
}

.imageplaceholder {
  width: 200px;
  height: 200px;
}

.tourney_area {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: center;
}

.tourney_info {
  width: 200px;
  background-color: green;
  margin-top: 10px;
  color: white;
  border-radius: 5px;
}

.location_area {
  font-size: 10px;
}

.officiallogin {
  background-color: blue;
  border-radius: 10px;
}

.contactarea {
  padding: 5px;
}

.email {
  font-weight: bold;
}

.emaillogin {
  padding: 5px;
  width: 75%
}

.pwdlogin {
  padding: 5px;
  width: 75%;
}

.localdate {
  color: white;
}
